@model SportsStore.Components.CartSummary

@if (Model.Show)
{
    <li><p class="navbar-text">Your cart: @Model.Items item(s)</p></li>
    <li><p class="navbar-text">@Model.Total.ToString("c")</p></li>

}
<li><a class="btn" href="@Url.Action("Index", "Cart", new { area = "" })"><i class="fa fa-shopping-cart"></i></a></li>